<div ng-controller="barraCtrl" class="QRheader">	
	<div class="navbar navbar-default">
		<div class="container">
			<a class="navbar-brand" href="#/"> <i class="fa fa-qrcode fa-5x"></i> <h4>Codis QR</h4> </a>
			<ul class="nav navbar-nav navbar-right mtop" ng-show="loggejat">
				<div class="btn-group pull-left">
				    <a href="#/listConv" type="button" class="btn btn-primary" ng-show="!missatgesNous">
				        <i class="fa fa-envelope fa-fw"></i>
				    </a>
				    <a href="#/listConv" type="button" class="btn btn-warning" ng-show="missatgesNous">
				        {{contador}}<i class="fa fa-envelope fa-fw"></i><span ng-show="contador>1"> converses</span> <span ng-show="contador==1">  conversa</span><i class="fa fa-exclamation"></i>
				    </a>
			    </div>
				<div class="btn-group pull-right" dropdown>
				    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
				        <i class="fa fa-user fa-fw"></i>{{userSessio.username}} <span class="caret"></span>
				    </button>
					<ul class="dropdown-menu">
			            <li>
			            	<a href="#/perfil/{{userIDSessio}}"><i class="fa fa-user fa-fw"></i> Perfil</a>
			            </li>
			            <li class="divider"></li>
			            <li>
			            	<a ng-click="loginOut()"><i class="fa fa-sign-out fa-fw"></i> Sortir</a>
			            </li>
			        </ul>
			    </div>
			</ul>
		</div>
	</div>
</div>
