<!DOCTYPE html>
<html lang="en" ng-app="myApp.controlAcces" ng-controller="controlAccesCtrl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/signin.css">
    <title> Control Accés</title>
</head>
<body>
	 <div class="container" ng-show="!loading">
	 	  	<div class="page-header">
                <a class="btn btn-danger" ng-click="loginOut()" ng-show="userIDSessio!='anonim'"><i class="fa fa-sign-out"></i>Sortir</a>
                <a class="btn btn-danger" href="#/">Inici</a>
	 	  		<h2> Control d'Accés</h2>
        	</div>
            <div class="text-center">
                <div ng-show= "tipus== 'PerfilLogin'">
                        <h5> Estàs com a usuari anònim, entra al sistema per poder veure aquest perfil.</h5>
                </div>
                <div ng-show= "tipus== 'PerfilLlista'">
                        <h5> No estàs a la llista d'usuaris que pot veure aquest perfil.</h5>
                </div>
                <div ng-show= "tipus== 'PerfilPrivat'">
                        <h5> Aquest perfil és privat.</h5>
                </div>
                <div ng-show= "tipus== 'esborrat'">
                        <h5> Aquest usuari ha estat esborrat per l'administrador.</h5>
                </div>
                <div ng-show= "tipus== 'ItemLogin'">
                        <h5> Estàs com a usuari anònim, entra al sistema per poder veure aquest ítem.</h5>
                </div>
                <div ng-show= "tipus== 'ItemLlista'">
                        <h5> No estàs a la llista d'usuaris que pot veure aquest ítem.</h5>
                </div>
                <div ng-show= "tipus== 'ItemPrivat'">
                        <h5> Aquest ítem és privat.</h5>
                </div>
                <div class="container">
                    <form class="form-signin" name="loginForm" role="form">
                        <h2 class="form-signin-heading">Entra al sistema</h2>
                        <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid }">
                            <label>Email</label>
                            <input ng-model="user.email" name="email" type="email" class="form-control">
                            <p class="help-block" ng-show="loginForm.email.$invalid">Entra un correu vàlid.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid }">
                            <label>Contrasenya</label>
                            <input ng-model="user.password" name="password" type="password" class="form-control" ng-minlength="6" maxlength="20">
                            <p class="help-block" ng-show="loginForm.password.$error.minlength">La contrasenya ha de tenir mínim 6 caràcters.</p>
                        </div>  
                        <label class="checkbox">
                            <a href="#/registrar"> Registrar-se <a/>
                        </label>
                        <p class="text-danger" ng-show="LogError">{{regErrorMessage}}</p>
                        <button type="submit" ng-disabled="!user.email || !user.password || working" ng-click="SignIn($event)" class="btn btn-lg btn-primary btn-block" >Entrar</button>
                  </form>
                </div>
            </div>
	 </div>
     <div ng-show="loading">
        <div class="text-center">
            <br><br><br>
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
        </div>
     </div>
</body>
</html>