<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> Guarda utilitzant codis QR</title>
    <link rel="stylesheet" href="css/signin.css">
</head>
<body ng-controller="IniciCtrl">
    <div class="container" ng-show="!loading">
        <div class="jumbotron text-center">
            <h1> <i class="fa fa-qrcode"></i> Codis QR</h1>
            <p> Guarda la teva informació dels objectes utilitzant codis QR per poder accedir a la informació des de qualsevol lloc. </p>
            <p><a class="btn btn-primary btn-lg" href="#/informacio#guia" role="button"> Com funciona? </a></p>
        </div>
        <form class="form-signin" name="loginForm" role="form">
            <h2 class="form-signin-heading">Entra al sistema</h2>
            <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid }">
                <label>Email</label>
                <input ng-model="user.email" name="email" type="email" class="form-control">
                <p class="help-block" ng-show="loginForm.email.$invalid">Entra un correu vàlid.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid }">
                <label>Contrasenya</label>
                <input ng-model="user.password" name="password" type="password" class="form-control" ng-minlength="6" maxlength="20">
                <p class="help-block" ng-show="loginForm.password.$error.minlength">La contrasenya ha de tenir mínim 6 caràcters.</p>
            </div>  
            <label class="checkbox">
                <a href="#/registrar"> Registrar-se <a/>
                <span>|</span>
                <a ng-click="open()"> Has oblidat la contrasenya? <a/>
            </label>
            <p class="text-danger" ng-show="LogError">{{regErrorMessage}}</p>
            <button type="submit" ng-disabled="!user.email || !user.password || working" ng-click="SignIn($event)" class="btn btn-lg btn-primary btn-block" >Entrar</button>
      </form>
          <div class="alert alert-info" role="alert"> Aquesta web utilitza cookies. Al continuar navegant entenem que accepta la nostra <a href="#/informacio#privacitat">Política de Privacitat</a>. </div>
    </div>
    <div ng-show="loading">
        <div class="text-center">
            <br><br><br>
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
        </div>
     </div>
     <script type="text/ng-template" id="ForgPassContent.html">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4> Contrasenya oblidada</h4>
                        </div>
                        <div class="modal-body">
                            <p> No recordes la contrasenya?, introdueix el teu correu electrònic per rebre un email amb la nova contrasenya. </p>
                            <form class="form-forgPass" name="forgPassForm" role="form">
                                <div class="form-group" ng-class="{ 'has-error' : forgPassForm.email.$invalid }">
                                    <label>Email</label>
                                    <input ng-model="forgPass" name="email" type="email" class="form-control">
                                    <p class="help-block" ng-show="forgPassForm.email.$invalid">Entra un correu vàlid.</p>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok(forgPass)" ng-disabled="!forgPass" > Enviar</button>
                            <button class="btn btn-warning" ng-click="cancel()">Cancel·lar</button>
                        </div>
                    </div>
            </script>
</body>
</html>