<!DOCTYPE html>
<html lang="en" ng-app="myApp.listConverses" ng-controller="listConversesCtrl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Llista Converses</title>
</head>
<body>
	 <div ng-show="!loading">
        <div ng-include src="'views/barra.html'"></div>
        <div class="container">
            <div class="pull-right">
                <button class="btn btn-default" ng-click="open()"> Nova Conversa</button>
                <br>
                <br>
            </div>
            <h2>Llista de Converses</h2>
            <a href="#/listCat"><h5> <i class="fa fa-arrow-circle-left"></i>Tornar a la Llista de Catàlegs</h5></a>
            <hr>
            <div class="row" ng-repeat="convTeva in conversesTeves">
                <div class="col-md-11">
                    <a style="text-decoration: none" href="#/conversa/{{convTeva.$id}}">
                        <div class="panel panel-info" style="cursor: pointer;">
                            <div class="panel-heading">
                                <t class="panel-title"><b>{{infoUsuarisConv[$index]}} </b> | Últim missatge:{{traduirData(infoLastMissatges[$index].dataMis) | date: fullDate}} a les {{traduirData(infoLastMissatges[$index].dataMis) | date:'h:mma'}}</t>
                            </div>
                            <div class="panel-body">
                                <div style="display: inline-block;border-radius:50px;font-size:18px;color:#fff;background:red;" ng-show="convTeva.numNoVist>0">&nbsp;{{convTeva.numNoVist}}&nbsp;
                                </div>
                                <b>{{infoLastMissatges[$index].autor}}: &nbsp;</b><t style="font-weight:normal;white-space: pre-line">{{infoLastMissatges[$index].contingut}}</t>
                            </div>
                        </div>
                    </a> 
                </div>
                <div class="col-md-1"><button class="btn btn-danger" ng-click="openElimina($index,convTeva.$id)"><i class="fa fa-remove"></i></button></div>
                <hr>
            </div>
    	 </div>
    </div> 
    <div ng-show="loading">
        <div class="text-center">
            <br><br><br>
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
        </div>
     </div>
            <script type="text/ng-template" id="NovaConversaContent.html">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Nova Conversa</h4>
                        </div>
                        <div class="modal-body">
                                <label> Destinataris:</label> 
                                <label ng-repeat="dest in destinataris" style="font-weight:normal"> <span ng-show="$index!=0"> &nbsp&nbsp|&nbsp&nbsp</span>{{dest}} <button class="btn btn-danger btn-xs" ng-click="eliminarUsuari($index)"><i class="fa fa-remove"></i></button><br></label>
                                <br>
                                <input type= "text" name= "usernameAfegir" ng-model="usernameAfegir">  
                                <div class="btn-group" dropdown is-open="status.isopen">
                                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                                        Seleccionar un amic<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="userA in usersAmics">
                                            <a ng-click="escollitAmic(userA.username)">{{userA.username}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn btn-default" ng-click="afegirUsuari(usernameAfegir)"> Afegir Usuari </button>
                                <p class="text-danger" ng-show="afgError">{{afgErrorMessage}}</p>
                                <hr>
                                <textarea class="form-control" ng-model="missatge" rows="7" maxlength="800"></textarea>
                                <p>Límit de caràcters: 800 | Caràcters restants: {{800 - missatge.length}}</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()" ng-disabled="destinataris.length==0 || !missatge">Crear</button>
                            <button class="btn btn-warning" ng-click="cancel()">Cancel·lar</button>
                        </div>
                    </div>
            </script>
            <script type="text/ng-template" id="EliminarConvContent.html">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4><i class="fa fa-exclamation-triangle fa-3x" style="color:orange"></i> Alerta</h4>
                    </div>
                    <div class="modal-body">
                        <p>Estàs segur que vols eliminar aquesta conversa?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">Eliminar</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel·lar</button>
                    </div>
                </div>
             </script>
</body>  
</body>
</html>