<!DOCTYPE html>
<html lang="en" ng-app="myApp.listCat">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Llista Catàlegs</title>
</head>
<body ng-controller="listCatCtrl">
    <div ng-show="!loading">
        <div ng-include src="'views/barra.html'"></div>  <!--Prova per fer una barra per tots-->
        <div class="container">
          <div>
            <ul class="nav nav-pills nav-justified">
              <li role="presentation" class="active"><a href="#/listCat">Llista de Catàlegs</a></li>
              <li role="presentation"><a href="#/perfil/{{userID}}">Perfil</a></li>
              <li role="presentation" ng-show="userSessio.username=='Administrador'"><a href="#/listUsu">Llista d'usuaris</a></li>
              <li role="presentation"><a href="#/listAmics"> Usuaris Amics</a></li>
            </ul>
          </div>

          <h2> Els meus Catàlegs </h2>
          <hr>
          <span ng-show="catalegs.length!=1">{{catalegs.length}} catàlegs creats de 8 possibles:</span>
          <span ng-show="catalegs.length==1">{{catalegs.length}} catàleg creat de 8 possibles:</span>
          <span class="text-danger" ng-show="catalegs.length==8"> <p><br></p> Has arribat al màxim de catàlegs possibles</span>
          <p><br></p>
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-repeat="cataleg in catalegs">
                  <div class="panel panel-{{cataleg.color}}">
                        <div class="panel-heading" style="cursor: pointer;" ng-click="obrirCat(cataleg.$id)">
                                <div>
                                    <i class="{{cataleg.icon}} fa-5x"></i>
                                </div>
                                <div class="text-center">
                                    <div>{{cataleg.nom}}</div>
                                </div>
                        </div>
                      <div class="panel-footer">
                          <div class="btn-group" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-{{cataleg.color}} dropdown-toggle" dropdown-toggle>
                              <i class="fa fa-cog"></i> Opcions<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li ng-controller="modificaCat"><a ng-click="open($index)">Editar</a></li>
                              <li class="divider"></li>
                              <li ng-controller="EliminarCatCtrl"><a ng-click="open($index)">Eliminar</a></li> 
                            </ul>
                          </div>
                      </div>  
                    </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-controller="afegirCatCtrl" ng-show="catalegs.length<8">
                  <div class="panel">
                      <a class="btn btn-default btn-sm" ng-click="open()">
                      <div class="panel-heading">
                          <div class="row">
                            <div>
                                <i class="fa fa-plus fa-5x"></i>
                            </div>
                            <div class="text-center">
                                <div>Afegir Nou Catàleg</div>
                            </div>
                          </div>
                      </div>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <!-- / container -->
    </div>
    <!-- / ng-show -->
      <div ng-show="loading">
          <div class="text-center">
              <i class="fa fa-spinner fa-pulse fa-5x mtop"></i>
          </div>
       </div>
         <script type="text/ng-template" id="afegirCatContent.html">
                  <div class="modal-header">
                      <h3 class="modal-title">Afegir Catàleg</h3>
                  </div>
                  <div class="modal-body">
                      <form name="FormAfegirCat">
                      <label>Nom Catàleg</label>
                      <input ng-model = "cat.nom" name="nomNouCat" type="text" class="form-control" required> 
                        <div ng-controller="afegirCatCtrl">
                          <label> Icona </label>
                          <div class="btn-group" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                             <i class={{iconFinal}}></i> {{iconTitol}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li><a ng-click="escollit('fa fa-random','Altres'); selected.icon='fa fa-random'" ><i class="fa fa-random"></i> Altres</a></li>
                              <li><a ng-click="escollit('fa fa-book','Llibres'); selected.icon='fa fa-book'"><i class="fa fa-book"></i> Llibres</a></li>
                              <li><a ng-click="escollit('fa fa-folder-o','Carpetes'); selected.icon='fa fa-folder-o'"><i class="fa fa-folder-o"></i> Carpetes</a></li>
                              <li><a ng-click="escollit('fa fa-clipboard','Documents'); selected.icon='fa fa-clipboard'"><i class="fa fa-clipboard"></i> Documents</a></li>
                              <li><a ng-click="escollit('fa fa-archive','Arxius'); selected.icon='fa fa-archive'"><i class="fa fa-archive"></i> Arxius</a></li>
                              <li><a ng-click="escollit('fa fa-qrcode','Codis QR'); selected.icon='fa fa-qrcode'"><i class="fa fa-qrcode"></i> Codis QR</a></li>
                              <li><a ng-click="escollit('fa fa-cubes','Caixes'); selected.icon='fa fa-cubes'"><i class="fa fa-cubes"></i> Caixes</a></li>
                              <li><a ng-click="escollit('fa fa-list','Llista'); selected.icon='fa fa-list'"><i class="fa fa-list"></i> Llista</a></li>
                              <li><a ng-click="escollit('fa fa-film','Pel·lícules'); selected.icon='fa fa-film'"><i class="fa fa-film"></i> Pel·lícules</a></li>
                            </ul>
                          </div>
                          <div class="btn-group" dropdown>
                            <label> Color
                            <button type="button" class="btn btn-{{colorDropdown}} dropdown-toggle" dropdown-toggle>{{colorSelected}}<span class="caret"></span></button></label>
                            <ul class="dropdown-menu" role="menu">
                              <li><a ng-click="colorEscollit('Blau');"> Blau </a></li>
                              <li><a ng-click="colorEscollit('Vermell');"> Vermell </a></li>
                              <li><a ng-click="colorEscollit('Groc');"> Groc </a></li>
                              <li><a ng-click="colorEscollit('Verd');"> Verd </a></li>
                            </ul>
                          </div>
                        </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-primary" ng-click="ok()" ng-disabled="!cat.nom">Acceptar</button>
                      <button class="btn btn-warning" ng-click="cancel()">Cancel·lar</button>
                  </div>
              </script>
              <script type="text/ng-template" id="ModificarCatContent.html">
                                          <div class="modal-header">
                                              <h3 class="modal-title">Modificar Catàleg</h3>
                                          </div>
                                          <div class="modal-body">
                                              <form name="FormModCat">
                                              <label>Nom Catàleg</label>
                                              <input ng-model = "cat.nom" name="nomModCat" type="text" class="form-control" required> 
                                                <div ng-controller="modificaCat">
                                                  <label> Icona </label>
                                                  <div class="btn-group" dropdown is-open="status.isopen">
                                                    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                                     <i class= {{iconFinal}}></i> {{iconTitol}} <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                      <li><a ng-click="escollit('fa fa-random','Altres'); selected.icon='fa fa-random'" ><i class="fa fa-random"></i> Altres</a></li>
                                                      <li><a ng-click="escollit('fa fa-book','Llibres'); selected.icon='fa fa-book'"><i class="fa fa-book"></i> Llibres</a></li>
                                                      <li><a ng-click="escollit('fa fa-folder-o','Carpetes'); selected.icon='fa fa-folder-o'"><i class="fa fa-folder-o"></i> Carpetes</a></li>
                                                      <li><a ng-click="escollit('fa fa-clipboard','Documents'); selected.icon='fa fa-clipboard'"><i class="fa fa-clipboard"></i> Documents</a></li>
                                                      <li><a ng-click="escollit('fa fa-archive','Arxius'); selected.icon='fa fa-archive'"><i class="fa fa-archive"></i> Arxius</a></li>
                                                      <li><a ng-click="escollit('fa fa-qrcode','Codis QR'); selected.icon='fa fa-qrcode'"><i class="fa fa-qrcode"></i> Codis QR</a></li>
                                                      <li><a ng-click="escollit('fa fa-cubes','Caixes'); selected.icon='fa fa-cubes'"><i class="fa fa-cubes"></i> Caixes</a></li>
                                                      <li><a ng-click="escollit('fa fa-list','Llista'); selected.icon='fa fa-list'"><i class="fa fa-list"></i> Llista</a></li>
                                                      <li><a ng-click="escollit('fa fa-film','Pel·lícules'); selected.icon='fa fa-film'"><i class="fa fa-film"></i> Pel·lícules</a></li>
                                                    </ul>
                                                  </div>
                                                  <div class="btn-group" dropdown>
                                                    <label> Color
                                                    <button type="button" class="btn btn-{{colorDropdown}} dropdown-toggle" dropdown-toggle>{{colorSelected}}<span class="caret"></span></button></label>
                                                    <ul class="dropdown-menu" role="menu">
                                                      <li><a ng-click="colorEscollit('Blau');"> Blau </a></li>
                                                      <li><a ng-click="colorEscollit('Vermell');"> Vermell </a></li>
                                                      <li><a ng-click="colorEscollit('Groc');"> Groc </a></li>
                                                      <li><a ng-click="colorEscollit('Verd');"> Verd </a></li>
                                                    </ul>
                                                  </div>
                                                </div>
                                              </form>
                                          </div>
                                          <div class="modal-footer">
                                              <button class="btn btn-primary" ng-click="ok()" ng-disabled="!cat.nom">Acceptar</button>
                                              <button class="btn btn-warning" ng-click="cancel()">Cancel·lar</button>
                                          </div>
                                      </script>
                                      <script type="text/ng-template" id="EliminarCatContent.html">
                                                  <div class="modal-content">
                                                     <div class="modal-header">
                                                          <h4><i class="fa fa-exclamation-triangle fa-3x" style="color:orange"></i> Alerta</h4>
                                                     </div>
                                                     <div class="modal-body">
                                                         <p>Estàs segur que vols eliminar el catàleg? S'eliminaran també tots els ítems d'aquest.</p>
                                                     </div>
                                                     <div class="modal-footer">
                                                         <button class="btn btn-primary" ng-click="ok()">Eliminar</button>
                                                         <button class="btn btn-warning" ng-click="cancel()">Cancel·lar</button>
                                                     </div>
                                                  </div>
                                      </script>
</body>
</html>