<!DOCTYPE html>
<html lang="en" ng-app="myApp.listItems">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Llista Catàlegs</title>
</head>
<body ng-controller="listItemsCtrl">
	 <div ng-show="propietari && existeix && !loading">
	 	<div ng-include src="'views/barra.html'"></div>
	 	<div class="container">
			<h2>Llista d'ítems del catàleg: {{nomCat}}</h2>
			<a href="#/listCat"><h5> <i class="fa fa-arrow-circle-left"></i>Tornar a la Llista de Catàlegs</h5></a>
			<hr>
			<span ng-show="items.length!=1">{{items.length}} ítems creats de 16 possibles:</span>
        	<span ng-show="items.length==1">{{items.length}} ítem creat de 16 possibles:</span>
        	<span class="text-danger" ng-show="items.length==16"> <p><br></p> Has arribat al màxim de ítems possibles per catàleg.</span> <br>
        	<a class="btn btn-default" href= "#/crearItem/{{userID}}/{{catid}}" role="button"> <i class="fa fa-plus"></i> Nou Ítem</a>
			<div class="panel panel-primary">
				<div class="panel-heading">
			        <div class="input-group">
			          <span class="input-group-addon"><i class="fa fa-search"></i></span>
			          <input type="text" class="form-control" placeholder="Buscar per nom" ng-model="buscar.nom">
			        </div>
			    </div>
			  <table class="table table-striped">
			    	<thead>
				        <tr>
				         	<th><a ng-click="ordenarPer('nom')"> Nom de l'Ítem <i ng-show="ordreNomSeleccionat=='-nom'" class="fa fa-sort-desc"></i><i ng-show="ordreNomSeleccionat=='nom'" class="fa fa-sort-asc"></i></a></th>
				            <th><a ng-click="ordenarPer('DataCreacio')"> Data Creació  <i ng-show="ordreNomSeleccionat=='-DataCreacio'" class="fa fa-sort-desc"></i><i ng-show="ordreNomSeleccionat=='DataCreacio'" class="fa fa-sort-asc"></i></a></th>
				            <th><a ng-click="ordenarPer('DataModificacio')"> Data Modificació <i ng-show="ordreNomSeleccionat=='-DataModificacio'" class="fa fa-sort-desc"></i><i ng-show="ordreNomSeleccionat=='DataModificacio'" class="fa fa-sort-asc"></i></a></th>
				            <th></th>
				         </tr>
				    </thead>
				    <tbody>
				    	 <script type="text/ng-template" id="EliminarItemContent.html">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4><i class="fa fa-exclamation-triangle fa-3x" style="color:orange"></i> Alerta</h4>
                                     </div>
                                     <div class="modal-body">
                                            <p>Estàs segur que vols eliminar l'ítem? S'eliminarà tot el que contingui.</p>
                                     </div>
                                     <div class="modal-footer">
                                           <button class="btn btn-primary" ng-click="ok()">Eliminar</button>
                                           <button class="btn btn-warning" ng-click="cancel()">Cancel·lar</button>
                                      </div>
                                </div>
                             </script>
				        <tr ng-repeat="item in items | filter:buscar | orderBy: ordreNomSeleccionat">
				            <td><a href= "#/item/{{userID}}/{{catid}}/{{item.$id}}">{{item.nom}}</a></td>
				            <td>{{traduirData(item.DataCreacio) | date: fullDate}} a les {{traduirData(item.DataCreacio) | date:'h:mma'}}</td>
				            <td>{{traduirData(item.DataModificacio) | date: fullDate}} a les {{traduirData(item.DataModificacio) | date:'h:mma'}}</td>
				            <td><button ng-click="open($index)" class="btn btn-danger"><i class="fa fa-remove"></i></button></td>
				        </tr>
			        </tbody>
			  </table>
			</div>
		</div>
	 </div>
	 <div class="container" ng-show="!existeix && !loading">
        <div class="text-center">
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <h5> Aquest catàleg no existeix.</h5>
            <a class="btn btn-primary btn-lg" href="#/" role="button"> Inici </a>
        </div>
	 </div>
	 <div ng-show="loading">
        <div class="text-center">
        	<br><br><br>
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
        </div>
     </div>
</body>
</html>