<!DOCTYPE html>
<html lang="en" ng-app="myApp.listUsuaris" ng-controller="listUsuarisCtrl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Llista d'usuaris</title>
</head>
<body>
	 <div ng-show="!loading">
        <div ng-include src="'views/barra.html'"></div>
	 	  <div class="container">
            	<ul class="nav nav-pills nav-justified">
	            	<li role="presentation"><a href="#/listCat">Llista de Catàlegs</a></li>
	            	<li role="presentation"><a href="#/perfil/{{userID}}">Perfil</a></li>
                    <li role="presentation" class="active"><a href="#/listUsu">Llista d'usuaris</a></li>
                    <li role="presentation"><a href="#/listAmics"> Usuaris Amics</a></li>
          		</ul>
        	<div>
                <h2> Llista d'usuaris del Sistema </h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><a ng-click="ordenarPer('username')"> Nom de l'usuari <i ng-show="ordreNomSeleccionat=='-username'" class="fa fa-sort-desc"></i><i ng-show="ordreNomSeleccionat=='username'" class="fa fa-sort-asc"></i></a></th>
                            <th><a ng-click="ordenarPer('email')"> Data Modificació <i ng-show="ordreNomSeleccionat=='-email'" class="fa fa-sort-desc"></i><i ng-show="ordreNomSeleccionat=='email'" class="fa fa-sort-asc"></i></a></th>
                            <th><a ng-click="ordenarPer('DataCreat')"> Data Creació  <i ng-show="ordreNomSeleccionat=='-DataCreat'" class="fa fa-sort-desc"></i><i ng-show="ordreNomSeleccionat=='DataCreat'" class="fa fa-sort-asc"></i></a></th>
                            <th></th>
                         </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="userSistema in usersSistema | filter:buscar | orderBy: ordreNomSeleccionat" ng-show= "userSistema.username != 'Administrador'">
                            <td><a href="#/perfil/{{userSistema.$id}}">{{userSistema.username}}</a></td>
                            <td>{{userSistema.email}}</td>
                            <td>{{traduirData(userSistema.DataCreat) | date: fullDate}} a les {{traduirData(userSistema.DataCreat) | date:'h:mma'}}</td>
                            <td><button class="btn btn-danger" ng-click= "open(userSistema.username)"><i class="fa fa-remove"></i></button></td>
                        </tr>
                    </tbody>
                </table>
        	</div>	
            <div ng-show="loading">
                <div class="text-center">
                    <br><br><br>
                    <i class="fa fa-spinner fa-pulse fa-5x"></i>
                </div>
            </div>
                <script type="text/ng-template" id="ElimUsuariContent.html">
                        <div class="modal-content">
                            <div class="modal-header">
                                    <h4><i class="fa fa-exclamation-triangle fa-3x" style="color:orange"></i> Alerta</h4>
                            </div>
                            <div class="modal-body">
                                <p>Estàs segur que vols eliminar l'usuari? S'eliminaran tot el que hagi creat.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" ng-disabled="working" class="btn btn-primary" ng-click="ok()">Eliminar</button>
                                <button class="btn btn-warning" ng-click="cancel()">Cancel·lar</button>
                            </div>
                        </div>
                </script>
        </div>
	 </div>
</body>
</html>