<!DOCTYPE html>
<html lang="en" ng-app="myApp.llistaAmics" ng-controller="llistaAmicsCtrl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Llista Amics</title>
</head>
<body>
	 <div ng-show="!loading">
    <div ng-include src="'views/barra.html'"></div>
	 	<div class="container">
            <div>
              <ul class="nav nav-pills nav-justified">
                <li role="presentation"><a href="#/listCat">Llista de Catàlegs</a></li>
                <li role="presentation"><a href="#/perfil/{{userID}}">Perfil</a></li>
                <li role="presentation" ng-show="userSessio.username=='Administrador'"><a href="#/listUsu">Llista d'usuaris</a></li>
                <li role="presentation" class="active"><a href="#/listAmics"> Usuaris Amics</a></li>
              </ul>
            </div>
	    <div>
	    		<h2> Llista d'usuaris Amics </h2>
        		<hr>
	    		<input type= "text" name= "usernameAfegir" ng-model="usernameAfegir">  
                <button class="btn btn-default" ng-click="afegirUsuari(usernameAfegir)"> <i class="fa fa-plus"></i>Agregar usuari com Amic</button>
                <p class="text-danger" ng-show="afgError">{{afgErrorMessage}}</p>
	    	 	<table class="table table-striped">
                     	<thead>
                           	<tr>
                             	<th>Usuaris:</th>
                              <th></th>
                            </tr>
                       	</thead>
                       	<tbody>
                           	<tr ng-repeat="userA in usuarisAmics">
                                <td> <a ng-click="veurePerfil($index)" style="cursor:pointer;">{{userA.username}}</a></td>
                                <td><button class="btn btn-danger" ng-click="open($index)"><i class="fa fa-remove"></i></button></td>
                            </tr>
                       	</tbody>
               	</table>
	    </div>
    </div>
	 </div>
    <div ng-show="loading">
        <div class="text-center">
          <br><br><br>
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
        </div>
    </div>
	 <script type="text/ng-template" id="EliminarUserAmicContent.html">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><i class="fa fa-exclamation-triangle fa-3x" style="color:orange"></i> Alerta</h4>
                </div>
            	<div class="modal-body">
                  	<p>Estàs segur que vols eliminar aquest usuari de la teva llista?</p>
                </div>                  
                <div class="modal-footer">
                   	<button class="btn btn-primary" ng-click="ok()">Eliminar</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel·lar</button>
                </div>
            </div>
    </script>
</body>
</html>