<!DOCTYPE html>
<html lang="en" ng-app="myApp.modificarItem" ng-controller="modificarItemCtrl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Modificar Ítem</title>
</head>
<body>
	<div ng-show="propietari && existeix && !loading">
      <div ng-include src="'views/barra.html'"></div>
      <div class="container" >
  			<h2>Ítem del catàleg: {{nomCat.$value}}</h2>
  			<div>
  				<form name="ModifItemForm" role="form">
  					   <div>
  	        			<div class="form-group" ng-class="{ 'has-error' : ModifItemForm.nomItem.$invalid }">
  			        		<label>Nom</label>
  			        		<input type="text" name="nomItem" ng-model= "modifciacioNom" maxlength="20" required>
  			        		<span class="help-block" ng-show="ModifItemForm.nomItem.$error.required">És oblidatori</span>
  		        		</div>
  		        		 <div>
              				<h4> Accés a l'ítem: {{tipusAcces}}</h4> 
                      <button ng-click="open()" class="btn btn-default"> <i class="fa fa-lock"></i> Canviar Configuració Accés a l'ítem</button>
          				</div>
  		        	</div>
  		        	<div>
                  <p><br></p>
                  <span ng-show="atributsModificar.length!=1">{{atributsModificar.length}} atributs creats de 8 possibles: <p><br></p></span>
                  <span ng-show="atributsModificar.length==1">{{atributsModificar.length}} atribut creat de 8 possibles: <p><br></p></span>
                  <span class="text-danger" ng-show="atributsModificar.length==8"> Has arribat al màxim de atributs possibles <p><br></p></span>
  	        			<hr class="divider">
  		        		<ul ng-repeat="atributModificar in atributsModificar" ng-form="subForm">
  		        				<div class="form-group" ng-class="{ 'has-error' : subForm.nom.$invalid }">
  			        				<label>Nom Atribut</label>
  			        				<input type="text" class="form-control" name="nom" ng-model="atributModificar.nom" maxlength="50" required>
  			        				<span class="help-block" ng-show="subForm.nom.$error.required">És oblidatori</span>
  		        				</div>
  		        				<div class="form-group" ng-class="{ 'has-error' : subForm.contingut.$invalid }">
  				        			<label>Contingut Atribut</label>
  				        			<input type="text" class="form-control" name="contingut" ng-model="atributModificar.contingut" maxlength="200" required>
  			        				<span class="help-block" ng-show="subForm.contingut.$error.required">És oblidatori</span>
  		        				</div>
  		        			<button class="btn btn-danger" ng-click= "esborrarAtribut($index)">Esborrar Atribut</button>
  		        			<button ng-show="!($index==0)" ng-click="atributUp($index)" class="btn btn-default"><i class="fa fa-level-up"></i></button>
  		        			<button ng-show="!($index==(atributsModificar.length-1))" ng-click="atributDown($index)" class="btn btn-default"><i class="fa fa-level-down"></i></button>
  		        			<hr class="divider">
  		        		</ul>	
       					<button class="btn btn-default" ng-click= "afegirAtribut()" ng-show="atributsModificar.length<8"><i class="fa fa-plus"></i> Afegir Atribut </button>
       					<hr class="divider">
  	           </div>
  	        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="ModifItemForm.$invalid" ng-click="GuardarCanvis()"> Guardar Canvis</button>
  	        <button type="button" class="btn btn-warning" ng-click="cancelar()"> Cancel·lar </button>
  				</form>
  			</div>
      </div>
    </div>
			<script type="text/ng-template" id="ModAccesItemContent.html">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Configuració Accés Ítem</h4>
                            </div>
                            <div class="modal-body">
                               <div class="radio">
                                  <label>
                                    <input type="radio" value="privat" ng-model="accesTipus">
                                    Privat
                                  </label>
                                </div>
                                <div class="radio">
                                  <label>
                                    <input type="radio" value="public" ng-model="accesTipus" >
                                    Públic
                                  </label>
                                </div>
                                <div class="radio">
                                  <label>
                                    <input type="radio" value="alguns" ng-model="accesTipus" >
                                    Alguns usuaris
                                  </label>
                                  <input type= "text" name= "usernameAfegir" ng-model="usernameAfegir">  
                                        <div class="btn-group" dropdown is-open="status.isopen">
                                          <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                                            Seleccionar un amic<span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu" role="menu">
                                            <li ng-repeat="userA in usersAmics">
                                                <a ng-click="escollitAmic(userA.username)">{{userA.username}}</a>
                                            </li>
                                          </ul>
                                        </div>
                                  <button class="btn btn-default" ng-click="afegirUsuari(usernameAfegir)" ng-disabled="aUsers.length==8"> Afegir Usuari </button>
                                  <p class="text-danger" ng-show="afgError">{{afgErrorMessage}}</p>
                                  <div>
                                    <span ng-show="aUsers.length!=1">{{aUsers.length}} usuaris afegits de 8 possibles per compartir</span>
                                    <span ng-show="aUsers.length==1">{{aUsers.length}} usuari afegit de 8 possibles per compartir</span>
                                    <span class="text-danger" ng-show="aUsers.length==8"> Has arribat al màxim d'usuaris possibles per compartir l'ítem</span>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Usernames dels usuaris que poden accedir:</th>
                                             </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="aUser in aUsers">
                                                <td> {{aUser}}</td>
                                                <td><button class="btn btn-danger" ng-click="eliminarUsuari($index)"><i class="fa fa-remove"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                  </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" ng-click="ok()">Acceptar</button>
                                <button class="btn btn-warning" ng-click="cancel()">Cancel·lar</button>
                            </div>
                        </div>
          	</script>
  <div class="container" ng-show= "!existeix && !loading">
    <div class="text-center">
      <p><br></p>
      <p><br></p>
      <p><br></p>
            <h5> Aquest ítem no existeix </h5>
            <a class="btn btn-primary btn-lg" href="#/" role="button"> Inici </a>
    </div>
  </div>
  <div ng-show="loading">
        <div class="text-center">
          <br><br><br>
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
        </div>
  </div>
</body>
</html>