<!DOCTYPE html>
<html lang="en" ng-app="myApp.modificarPerfil" ng-controller="modificarPerfilCtrl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Modificar Perfil</title>
</head>
<body>
	 <div ng-show="propietari && !loading">
        <div ng-include src="'views/barra.html'"></div>
        <div class="container">
            <h2> Modificar Perfil </h2>
            <hr>
            <h4> Correu Electrònic: {{user.email}}</h4>
            <h4> Nom d'usuari: {{user.username}}</h4>
            <h4> Usuari des de: {{traduirData(user.DataCreat) | date: fullDate}}</h4>
            <p><br></p>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="nom"><h4> Nom: </h4></label>
                    <input type="text" name="nomComplet" class="form-control" ng-model="modificacionsUser.nomComplet" maxlength="35" id="nom">
                </div>
            </form>
            <p><br></p>
            <button ng-show="!FormPass" ng-click= "MostrarFormPass()" class="btn btn-warning"><i class="fa fa-lock fa-lg"></i> Canviar Constrasenya </button>
            <button ng-show="FormPass" ng-click= "OcultarFormPass()" class="btn btn-warning"> No Canviar Constrasenya </button>
            <div ng-show="FormPass"> 
                <form class="form-changePass" name="FormChangePass" role="form">
                    <div class="form-group" ng-class="{ 'has-error' : FormChangePass.Oldpassword.$invalid }"> 
                        <label>Contrasenya Antiga: </label>
                        <input type="password" name="Oldpassword" class="form-control" ng-model="modificacionsUser.Oldpassword" required>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : FormChangePass.Noupassword.$invalid }"> 
                        <label>Contrasenya Nova:</label>
                        <input type="password" name="Noupassword" class="form-control" ng-model="modificacionsUser.Noupassword" ng-minlength="6" maxlength="20" required> 
                        <p class="help-block" ng-show="FormChangePass.Noupassword.$error.minlength">La contrasenya ha de tenir mínim 6 caràcters.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : FormChangePass.Confpassword.$invalid }"> 
                        <label>Confirmar Contrasenya Nova:</label>
                        <input type="password" name="Confpassword" class="form-control" ng-model="modificacionsUser.Confpassword" ng-minlength="6" maxlength="20" required data-password-verify="modificacionsUser.Noupassword" >
                        <p class="help-block" ng-show="FormChangePass.Confpassword.$error.minlength">La contrasenya ha de tenir mínim 6 caràcters.</p>
                        <p class="help-block" ng-show="FormChangePass.Confpassword.$error.passwordVerify">Les contrasenyes tenen que ser iguals.</p>
                   </div>
                </form>
            </div>
            <p><br></p>
            <div>
                <h4> Accés al Perfil: {{tipusAcces}}</h4> <button  ng-click="open()" class="btn btn-default"> Canviar Configuració Accés Perfil</button>
            </div>
            <hr>
            <div>
                <p class="text-danger" ng-show="passError">{{passErrorMessage}}</p>
                <button type="submit" ng-disabled="FormPass  && (!modificacionsUser.Oldpassword || !modificacionsUser.Noupassword || !modificacionsUser.Confpassword)" class="btn btn-primary btn-lg" ng-click="GuardarCanvis()">Guardar Canvis Realitzats</button>
                <button ng-click="cancelar()" class="btn btn-warning"> Cancel·lar</button>
            </div>
        </div>
	 </div>
                    <script type="text/ng-template" id="AccesPerfilContent.html">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Configuració Accés al Perfil</h4>
                            </div>
                            <div class="modal-body">
                               <div class="radio">
                                  <label>
                                    <input type="radio" value="privat" ng-model="accesTipus">
                                    Privat
                                  </label>
                                </div>
                                <div class="radio">
                                  <label>
                                    <input type="radio" value="public" ng-model="accesTipus" >
                                    Públic
                                  </label>
                                </div>
                                <div class="radio">
                                  <label>
                                    <input type="radio" value="alguns" ng-model="accesTipus" >
                                    Alguns usuaris
                                  </label>
                                  <input type= "text" name= "usernameAfegir" ng-model="usernameAfegir">  
                                      <div class="btn-group" dropdown is-open="status.isopen">
                                          <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                                            Seleccionar un amic<span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu" role="menu">
                                            <li ng-repeat="userA in usersAmics">
                                                <a ng-click="escollitAmic(userA.username)">{{userA.username}}</a>
                                            </li>
                                          </ul>
                                        </div>
                                  <button class="btn btn-default" ng-click="afegirUsuari(usernameAfegir)" ng-disabled="aUsers.length==8"> Afegir Usuari </button>
                                  <p class="text-danger" ng-show="afgError">{{afgErrorMessage}}</p>
                                  <div>
                                    <span ng-show="aUsers.length!=1">{{aUsers.length}} usuaris afegits de 8 possibles per compartir</span>
                                    <span ng-show="aUsers.length==1">{{aUsers.length}} usuari afegit de 8 possibles per compartir</span>
                                    <span class="text-danger" ng-show="aUsers.length==8"> Has arribat al número màxim possible per compartir</span>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Usernames dels usuaris que poden accedir:</th>
                                             </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="aUser in aUsers">
                                                <td> {{aUser}}</td>
                                                <td><button class="btn btn-danger" ng-click="eliminarUsuari($index)"><i class="fa fa-remove"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                  </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" ng-click="ok()">Acceptar</button>
                                <button class="btn btn-warning" ng-click="cancel()">Cancel·lar</button>
                            </div>
                        </div>
                    </script>
    <div ng-show="loading">
        <div class="text-center">
            <br><br><br>
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
        </div>
     </div>
</body>
</html>