<!DOCTYPE html>
<html lang="en" ng-app="myApp.perfil" ng-controller="perfilCtrl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Perfil</title>
</head>
<body>
	 <div ng-show= "permis && !loading">
        <div ng-include src="'views/barra.html'"></div>
	 	<div class="container">
                <div>
                	<ul ng-show="propietari" class="nav nav-pills nav-justified">
    	            	<li role="presentation"><a href="#/listCat">Llista de Catàlegs</a></li>
    	            	<li role="presentation" class="active"><a href="#/perfil/{{userID}}">Perfil</a></li>
                        <li role="presentation" ng-show="userSessio.username=='Administrador'"><a href="#/listUsu">Llista d'usuaris</a></li>
                        <li role="presentation"><a href="#/listAmics"> Usuaris Amics</a></li>
              		</ul>
                </div>
        	<div>
        		<h2> Perfil </h2>
        		<hr>
        		<h4> Correu Electrònic: {{user.email}}</h4>
        		<h4> Nom d'usuari: {{user.username}}</h4>
        		<h4> Usuari des de: {{traduirData(user.DataCreat) | date: fullDate}}</h4>
        		<h4> Nom: {{user.nom}}</h4>
        		<h4 ng-show="propietari"> Contrasenya: *******</h4>
        		<h4> Accés al Perfil: {{tipusAcces}}</h4>
                <hr>
                <a class="btn btn-default btn-lg" ng-show="propietari" href="#/modifPerfil/{{userID}}" role="button">Modificar Perfil</a>
        		<button ng-show="propietari" ng-click="open()" class="btn btn-danger"> Eliminar Compte</button>
        	</div>	
                <script type="text/ng-template" id="ElimCompteContent.html">
                        <div class="modal-content">
                            <div class="modal-header">
                                    <h4><i class="fa fa-exclamation-triangle fa-3x" style="color:orange"></i> Alerta</h4>
                            </div>
                            <div class="modal-body">
                                <p>Estàs segur que vols eliminar l'usuari? S'eliminarà tot el que hagis creat.</p>
                                <form name="FormElimCompte">
                                    <div class="form-group" ng-class="{ 'has-error' : FormElimCompte.passElim.$invalid }">
                                        <label>Contrasenya </label>  <input type="password" name="passElim" class="form-control" ng-model="passElim" required>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <p class="text-danger" ng-show="passError">{{passErrorMessage}}</p>
                                <button type="submit" ng-disabled="!passElim || working" class="btn btn-primary" ng-click="ok()">Eliminar</button>
                                <button class="btn btn-warning" ng-click="cancel()">Cancel·lar</button>
                            </div>
                        </div>
                </script>
        </div>
	 </div>
     <div class="container" ng-show= "!permis && existeix && !loading">
        <div class="text-center">
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <h5 ng-show="tipusPermis=='privat'"> Aquest perfil és privat. Vols sortir i entrar al sistema amb l'usuari propietari?</h5>
            <h5 ng-show="tipusPermis=='algunsPotLog'"> Estàs com a usuari anònim, entra al sistema per poder veure aquest perfil.</h5>
            <h5 ng-show="tipusPermis=='algunsNoTu'"> No estàs a la llista d'usuaris que pot veure aquest perfil. Vols sortir i entrar amb un altre usuari?</h5>
            <button class="btn btn-default" ng-click="noAcces()"> Entrar al sistema </button>
        </div>
     </div>
    <div class="container" ng-show= "!permis && !existeix && !loading">
        <div class="text-center">
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <h5> Aquest perfil no existeix.</h5>
            <a class="btn btn-primary btn-lg" href="#/" role="button"> Inici </a>
        </div>
    </div>
    <div ng-show="loading">
        <div class="text-center">
            <br><br><br>
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
        </div>
     </div>
</body>
</html>