<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Registrar-se a la Web</title>
    <link rel="stylesheet" href="css/signin.css">
</head>
<body ng-controller="RegisterCtrl">
    <div class="container" ng-show="!loading">
        <form class="form-signin" name="FormRegistrar" role="form">
            <h2 class="form-signin-heading">Registrat aquí</h2>
            <div class="form-group" ng-class="{ 'has-error' : FormRegistrar.email.$invalid }">
                <label>Email</label>
                <input ng-model="user.email" name="email" type="email" class="form-control">
                <p class="help-block" ng-show="FormRegistrar.email.$invalid">Entra un correu vàlid.</p>
            </div> 
            <div class="form-group" ng-class="{ 'has-error' : FormRegistrar.password.$invalid }">
                <label>Contrasenya</label>
                <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="6" maxlength="20">
                <p class="help-block" ng-show="FormRegistrar.password.$error.minlength">La contrasenya ha de tenir mínim 6 caràcters.</p>
            </div>  
            <div class="form-group" ng-class="{ 'has-error' : FormRegistrar.confpassword.$invalid }">
                <label>Confirmar Contrasenya</label>
                <input type="password" name="confpassword" class="form-control" ng-model="user.confpassword" ng-minlength="6" ng-maxlength="20" required data-password-verify="user.password">
                <p class="help-block" ng-show="FormRegistrar.confpassword.$error.minlength">La contrasenya ha de tenir mínim 6 caràcters.</p>
                <p class="help-block" ng-show="FormRegistrar.confpassword.$error.passwordVerify">Les contrasenyes tenen que ser iguals.</p>
            </div> 
            <div class="form-group" ng-class="{'has-error': FormRegistrar.username.$invalid}">
                <label>Nom Usuari</label>
                <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="6" maxlength="15" required>
                <p class="help-block" ng-show="FormRegistrar.username.$error.minlength">L'usuari ha de tenir mínim 6 caràcters.</p> 
            </div>  
            <p class="text-danger" ng-show="regError">{{regErrorMessage}}</p>
            <button type="submit" ng-disabled="!user.email || !user.password || !user.confpassword || !user.username || working" class="btn btn-lg btn-primary btn-block" ng-click="Registrar()">Registrar</button>
        </form>
    </div>
    <div ng-show="loading">
        <div class="text-center">
            <br><br><br>
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
        </div>
     </div>
</body></html>