<!DOCTYPE html>
<html lang="en" ng-app="myApp.veureConversa" ng-controller="veureConversaCtrl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Veure Conversa</title>
</head>
<body>
	 <div ng-show="permis && !loading">
        <div ng-include src="'views/barra.html'"></div>
	    <div class="container">
            <div>
    	 		<h2>Veure Conversa</h2>
                <a href="#/listConv"><h5> <i class="fa fa-arrow-circle-left"></i>Tornar a la Llista de Converses</h5></a>
                <hr>
                <label> Membres de la conversa: <label ng-repeat="userConv in usersConversa"> <span ng-show="$index!=0"> , </span> {{userConv.username}} </label></label>
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
                <div>
                    <div ng-repeat= "missatge in missatgesConv">
                        <div class="row">
                            <div class="col-md-9"> <label><a ng-click="veurePerfil(missatge.autor)" style="cursor:pointer;">{{missatge.autor}}</a> : <div style="font-weight:normal;white-space: pre-line">{{missatge.contingut}}</div></label></div>
                            <div class="col-md-3"> {{traduirData(missatge.dataMis) | date: fullDate}} a les {{traduirData(missatge.dataMis) | date:'h:mma'}}</div>
                        </div>
                        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
                    </div>
                    <textarea class="form-control" ng-model="Noumissatge" rows="7" maxlength="800"></textarea>
                    <p>Límit de caràcters: 800 | Caràcters restants: {{800 - Noumissatge.length}}</p>
                    <p class="text-danger" ng-show="userEliminat">{{usersElimnats}}</p>
                    <button class="btn btn-primary" ng-click="enviarMissatge()" ng-disabled="!Noumissatge">Enviar</button>
                </div>
            </div>
        </div>
	 </div>     
     <div ng-show="!permis && !loading">
            <div class="text-center">
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <h5> No ets membre d'aquesta conversa o aquest no existeix.</h5>
            <a class="btn btn-primary btn-lg" href="#/" role="button"> Inici </a>
        </div>
     </div>
     <div ng-show="loading">
        <div class="text-center">
            <br><br><br>
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
        </div>
     </div>
</body>
</html>