<!DOCTYPE html>
<html lang="en" ng-app="myApp.veureCodiQR" ng-controller="veureCodiQRCtrl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Veure Codi QR</title>
</head>
<body>
	 <div ng-show="propietari && existeix && !loading">
       <div ng-include src="'views/barra.html'"></div>
	   <div class="container">
            <div>
    	 		<h2>Veure Codi QR</h2>
                <a  href="#/item/{{userID}}/{{catid}}/{{itemid}}"><h5> <i class="fa fa-arrow-circle-left"></i>Tornar a la Llista de Catàlegs</h5></a>
    	 		<div id="qrcode" ng-model="code">
    	 		</div>
                <br>
    			<select id="selectMida" ng-model="selectorDeMida"
                    ng-options="opt as opt.label for opt in optionsMida" ng-change="update(); comprovacions()">
                </select>
                <p><br></p>
                <label type="text">Número de codis QR en la pàgina d'impressió: {{numQRs}}</label>
                <button class="btn btn-default" ng-disabled="numQRs==1" ng-click="restar(); comprovacions()"> <i class="fa fa-minus fa-lg"></i></button>
                <button class="btn btn-default" ng-disabled="maxError" ng-click="afegir(); comprovacions()"> <i class="fa fa-plus fa-lg"></i></button>
                <p><br></p>
                <p class="text-danger" ng-show="maxError">{{maxErrorMessage}}</p>
                <a type="button" class="btn btn-default" href="#/print/{{userID}}/{{catid}}/{{itemid}}/{{selectorDeMida.value}}/{{numQRs}}">Veure Pàgina Imprimir</a>
            </div>
        </div>
	 </div>     
    <div class="container" ng-show= "!existeix && !loading">
        <div class="text-center">
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <h5> Aquest ítem no existeix </h5>
            <a class="btn btn-primary btn-lg" href="#/" role="button"> Inici </a>
        </div>
     </div>
    <div ng-show="loading">
        <div class="text-center">
            <br><br><br>
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
        </div>
    </div>
</body>
</html>