<!DOCTYPE html>
<html lang="en" ng-app="myApp.veureItem" ng-controller="veureItemCtrl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Veure Ítem</title>
</head>
<body>
	 <div ng-show= "permis && existeix && !loading">
        <div ng-include src="'views/barra.html'"></div>
	   	<div class="container">
	   		<a ng-show="propietari" href="#/veureQR/{{userID}}/{{catid}}/{{itemid}}" class="btn btn-lg btn-primary pull-right"> <i class="fa fa-qrcode fa-5x"></i> Veure Codi QR</a>
			<h2>Veure Ítem </h2>
			<a ng-show="propietari" href="#/catalegs/{{userID}}/{{catid}}"><h5> <i class="fa fa-arrow-circle-left"></i>Tornar a la Llista d'ítems del catàleg</h5></a>
			<p><br></p>
			<div>
				<h4> Nom de l'ítem: {{Dadesitem.nom}}</h4>
				<h4> Del catàleg: {{nomCataleg.$value}}</h4>
				<h4> Usuari creador: <a href="#/perfil/{{userID}}">{{usernameCreador.$value}}</a></h4> 
				<h4> Data Creat: {{traduirData(Dadesitem.DataCreacio) | date: fullDate}} a les {{traduirData(Dadesitem.DataCreacio) | date:'h:mma'}}</h4>
				<h4> Data Última Modificació: {{traduirData(Dadesitem.DataModificacio) | date: fullDate}} a les {{traduirData(Dadesitem.DataModificacio) | date:'h:mma'}}</h4>
				<h4> Tipus accés: {{tipusAcces}}</h4>
	        </div>
	        <div>
	        	<hr class="divider">
	        	<h4> Dades de l'ítem: </h4>
	        	<ul ng-repeat="atribut in atributs">
			        		<label>Nom Atribut: </label>
			        		 <p>{{atribut.nom}}</p>
				        	<label>Contingut Atribut</label>
				        	<p>{{atribut.contingut}}</p>
		        		<hr class="divider">
		        </ul>	
	        </div>	
	        <script type="text/ng-template" id="VeureEliminarItemContent.html">
                   	<div class="modal-content">
                      	<div class="modal-header">
                          	<h4><i class="fa fa-exclamation-triangle fa-3x" style="color:orange"></i> Alerta</h4>
                       	</div>
                        <div class="modal-body">
                          	<p>Estàs segur que vols eliminar l'ítem? S'eliminarà tot el que contingui.</p>
                		</div>
                 		<div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">Eliminar</button>
                            <button class="btn btn-warning" ng-click="cancel()">Cancel·lar</button>
                        </div>
                    </div>
            </script>
	        <button class="btn btn-default" ng-click="modificar()" ng-show="propietari"> Modificar l'ítem</button>
	        <button class="btn btn-danger" ng-click="open()" ng-show="propietari"> Eliminar</button>
	    </div>
	 </div>
	 <div class="container" ng-show= "!permis && existeix && !loading">
	 	<div class="text-center">
	 		<p><br></p>
	 		<p><br></p>
	 		<p><br></p>
            <h5 ng-show="tipusPermis=='privat'"> Aquest ítem és privat. Vols sortir hi entrar al sistema amb l'usuari propietari?</h5>
            <h5 ng-show="tipusPermis=='algunsPotLog'"> Estàs com a usuari anònim, entra al sistema per poder veure aquest ítem.</h5>
            <h5 ng-show="tipusPermis=='algunsNoTu'"> No estàs a la llista d'usuaris que pot veure aquest ítem. Vols sortir hi entrar amb un altre usuari?</h5>
            <button ng-click="noAcces()" class="btn btn-default"> Entrar al sistema </button>
	 	</div>
     </div>
    <div class="container" ng-show= "!existeix && !loading">
	 	<div class="text-center">
	 		<p><br></p>
	 		<p><br></p>
	 		<p><br></p>
            <h5> Aquest ítem no existeix </h5>
            <a class="btn btn-primary btn-lg" href="#/" role="button"> Inici </a>
	 	</div>
     </div>
     <div ng-show="loading">
        <div class="text-center">
        	<br><br><br>
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
        </div>
     </div>
</body>
</html>