/* QRheader */
.QRheader { width: 100%; display: block;}
.QRheader .navbar { min-height: 90px;}
.QRheader .navbar-default .navbar-brand {color:#000;}
.QRheader .navbar-default .navbar-brand i { font-size: 60px; display:inline-block;}
.QRheader .navbar-default .navbar-brand h4 { display:inline-block;}
.QRheader .mtop { margin-top: 35px; display: inline-block; margin-left: 7px;}

/*Barres*/
.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #563d7c; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}

/*Catalegs*/
.panel-success {
    border-color: #5cb85c;
}

.panel-success .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-success a {
    color: #5cb85c;
}

.panel-success a:hover {
    color: #3d8b3d;
}

.panel-danger {
    border-color: #d9534f;
}

.panel-danger .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-danger a {
    color: #d9534f;
}

.panel-danger a:hover {
    color: #b52b27;
}

.panel-warning {
    border-color: #f0ad4e;
}

.panel-warning .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-warning a {
    color: #f0ad4e;
}

.panel-warning a:hover {
    color: #df8a13;
}